@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-charcoal text-brand-ivory;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ZCOOL KuaiLe', cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
